.chat-bg-containter{
    background-image: url('https://ik.imagekit.io/ezv6xlnm8/Projects/chatbg.png?updatedAt=1742634571410');
    background-size: cover;
    background-repeat: no-repeat;
    width: 360px;
    height: 550px;
}